/*
	This file contains the style for the patient's ReservedArea.jsp page.

*/
@charset "UTF-8";

.row button.icon {
	background-color: rgba(0, 137, 137, 0.8);
	color: white;
	border: 5px solid white;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	font-size: 18px;
}

.container #row1 {
	margin-bottom: 30px;
	margin-left: 0;
}

.container #row1 h1 {
	color: darkcyan;
	margin: 0 20px;
}

.container #row2, #row3 {
	margin-left: 0;
	height: 30%;
	min-height: 150px;
	margin-bottom: 50px;
}

#container {
	margin: 50px auto;
	margin-bottom: 80px;
}

@media ( max-width : 991px) {
	.container .col-xs-12 {
		margin-bottom: 50px;
		min-height: 150px;
	}
	.container #row2 {
		margin-bottom: 0;
	}
}

@media ( max-width : 400px) {
	.container #row1 h1 {
		width: 100%;
	}
}