/*
	This file contains the style for the BookingCancelConfirmation.jsp page.

*/

@charset "UTF-8";

#container{
	margin : 100px auto;
	width: 90%;
}

table {
	font-size : 20px;
}

.buttonChoice{
	color: white;
	background-color: darkcyan;
	font-size: 25px;
	text-decoration: none;
	border: 2px solid darkblue;
	height: 50px;
}

#question{
	width: 100%;
}

#returnList.buttonChoice{
	background-color: red;
	border: 2px solid red;
}
