/*
	This file contains the style for the BookingList.jsp page.

*/
@charset "UTF-8";

#newBookingContainer.container  {
	padding-left: 20px;
}

.container #newBookingLink {
	color: darkblue;
	font-weight: 500;
}

#container {
	margin: 80px auto;
	margin-bottom: 120px;
}

#row {
	margin-left: 0;
	margin-right: 0;
}

#noBooking {
	width: 100%;
	margin-top: 80px;
	font-size: 20px;
	border-bottom: 2px solid black;
}

.table_row {
	border-bottom: 2px solid black;
}

td, th {
	padding-left: 10px;
}

form.formDelete {
	width: 80%;
}

form.formDelete button.deleteBookingButton {
	width: 100%;
	background-color: white;
	color: darkblue;
	border: 2px solid darkblue;
}


