/*
	This file contains the style for the NewBooking.jsp page.

*/
@charset "UTF-8";

form {
	width: 100%;
	padding: 20px;
	padding-top: 40px;
	background-color: rgba(0, 137, 137, 0.8);
	color: white;
	border-radius: 10px;
	margin: 20% 0;
}

form select {
	width: 50%;
	color: darkblue;
}

input[type=submit] {
	background-color: white;
	border: 1px solid darkblue;
	color: darkblue;
	font-weight: 500;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

form label {
	display: block;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 18px;
}

#row .col-md-6 {
	margin: 0 auto;
}